In [4]:
from datetime import date
print("Today's date is: " + str(date.today()))

Today's date is: 2022-02-13

In [7]:
parsec = 11
lightyears = 3.26156 * parsec
print(str(parsec) + " parsec, is " + str(lightyears) + " lightyears")

11 parsec, is 35.877159999999996lightyears

## Kata 3

In [1]:
asteroide = 48
if asteroide> 25:
    print("Un asteriode se acerca, y viaja a una velidiad de 49 km/s")
else:
    print("no pasa nada")

Un asteriode se acerca, y viaja a una velidiad de 49 km/s

In [3]:
asteroide = 19
if asteroide >20:
    print("Se produce un rayo de luz")
elif asteroide == 20:
    print("Se produce un rayo de luz")
else:
    print("no se ve nada")

no se ve nada

In [6]:
velocidad = 26
tamaño = 50
if tamaño>25 and velocidad>25:
    print("advertencia peligro")
elif velocidad >= 20:
    print("se produce un rayo de luz")
else :
    print("no pasa nada")

advertencia peligro

## kata 4

In [15]:
text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. 
On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth."""
oracion= text.split(".")
palabra = 'average', 'temperature', 'distance'
for texto in oracion:
    for palabras in palabra:
        if palabras in texto:
            print(texto)
            break

On average, the Moon moves 4cm away from the Earth every year

In [ ]:
for text in oracion:
    for palabras in palabra:
        if palabra in text:
            print(texto.replace(" c", " Celsius"))

In [36]:
name = "Moon"
gravity = 0.00162
planet = "Earth"

titulo = f'gravedad de {name}'
plantilla = f"""{'_'*40}
Nombre del planeta: {planet}
gravedad de {name} {gravity*1000} m/s2"""
union = f"""{titulo.title()}
{plantilla}"""
print(plantilla)
print()


planeta = 'Marte'
gravedad = 0.00143
nombre = 'Ganímedes'

nueva_plantilla = """Gravedad de {nombre}
.............................................
Nombre del planeta: {planeta}
gravedad de planeta: {gravedad} m/s2"""
print(nueva_plantilla.format(planeta=planeta, nombre= nombre, gravedad = gravedad*1000))

________________________________________
Nombre del planeta: Earth
gravedad de Moon 1.6199999999999999 m/s2

Gravedad de Ganímedes
.............................................
Nombre del planeta: Marte
gravedad de planeta: 1.4300000000000002 m/s2

## Kata 5

In [39]:
distancia_Tierra = 149597870
distancia_Jupiter = 778547200
resta = abs(distancia_Tierra-distancia_Jupiter)
millas = resta*0.621
print(resta,"\n",millas)

628949330
 390577533.93

In [40]:
planeta_uno = input("introduce la distancia del planeta")
planeta_dos = input("intruduce la distancia del planeta")

planeta_uno = int(planeta_uno)
planeta_dos = int(planeta_dos)

distancia = abs(planeta_dos - planeta_uno)
print(distancia)

distancia_mi= distancia*0.621
print(distancia_mi)

50300000
31236300.0

## Kata 6

In [44]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
print('Existen ', len(planets), 'planetas')

Existen  8 planetas

In [45]:
planets.append('pluto')
print('Existen ', len(planets), ' planetas')

Existen  9  planetas

In [51]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

planeta = input('introduce el nombre del planeta')
planeta_index = planets.index(planeta)
print(planeta_index)

print('Muestra los planetas mar cercanos al sol que ', planeta)
print(planets[0:planeta_index])
print('Muestra los planetas mas alejados al sol que ', planeta)
print(planets[planeta_index+1:])

5
Muestra los planetas mar cercanos al sol que  Saturn
['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter']
Muestra los planetas mas alejados al sol que  Saturn
['Uranus', 'Neptune']

## kata 7

In [5]:
new_planetas = ''
planetas = []

while new_planetas.lower() != 'done':
    if new_planetas:
        planetas.append(new_planetas)
    new_planetas = input('ingresa el nombre de los planetas')


for planet in planetas:
    print(planet)

mercurio
venus
jupiter

## Kata 8

In [8]:
planet = {
    'name' : 'Mars',
    'moons' : 2
}

print(planet.get('name'))
print(planet.get('moons'))

Mars
2

In [16]:
planet ['polar'] = '6752'
planet ['equatorial'] = 6792

print(planet['name'])
print(planet['polar'])

Mars
6752

In [17]:
planet_moons = {
    'mercury': 0,
    'venus': 0,
    'earth': 1,
    'mars': 2,
    'jupiter': 79,
    'saturn': 82,
    'uranus': 27,
    'neptune': 14,
    'pluto': 5,
    'haumea': 2,
    'makemake': 1,
    'eris': 1
}

moons = planet_moons.values()

planets = len(planet_moons.keys())
    
total_moons = 0
for moon in moons:
    total_moons = total_moons + moon
average = total_moons / planets
print(average)

17.833333333333332

## Kata 9

In [20]:
def tanques_combustible(gasolina, disel, aceite):
    promedio = (gasolina + disel + aceite) / 3
    return f""" Total conbustible: {promedio}%
    total gasolina: {gasolina}%
    total disel: {disel}%
    total aceite: {aceite}% """
print(tanques_combustible(80,50, 5))

 Total conbustible: 45.0%
    total gasolina: 80%
    total disel: 50%
    total aceite: 5%